*{
    margin:0; /*Deixa todo conteúdo colado nos cantos*/
    padding:0; /*Deixa todo conteúdo sem preenchimento (espaçamento) inicialmente*/  
    font-family: 'Lato', sans-serif; /*a fonte padrão do site, se alguém achar uma mais bonita, só falar*/
} 

/*==========MENU==========*/

header{
    background-color: #000000; /*cor de fundo do menu*/
    opacity: 90%; /*nível de transparência da cor de fundo do menu*/
    padding: 20px 0; /*preenchimento - top e bottom: 20px; right e leff:0px*/
    position: fixed; /*deixar o header fixo ao rolar a página*/
    width: 100%; /*ocupar toda a largura disponível*/
    height: 40px; /*altura do header*/
}

#menu{
    height: 40px; /*para ficar com a mesma altura do header e encaixar certinho a centralização*/
    display: flex; /*Exibe os elementos como um contêiner flexível, para que todos fiquem um ao lado do outro*/
    justify-content: space-around; /*Alinhar os itens flexíveis no centro do contêiner*/
    align-items: center; /*align-items: Alinha os itens na vertical*/ 
}				

.logo_menu{
    width: 200px; /*largura da imagem*/
}

nav li{
    display: inline; /*deixa os itens do menu um ao lado do outro*/ 
}

.item_menu{
    padding: 20px; /*Espaçamento entre os itens*/
    text-decoration: none; /*Tirar a decoração de link*/
    font-size: 18px; /*Tamanho da fonte*/
    font-weight: bold; /*Deixar a fonte em negrito*/
    color:#ff0000 /*Cor da fonte*/
}
.item_menu:hover{
    color:#ffffff /*Ao passar o mouse em um item do menu, ele ficará branco*/
}

#capa{
    width: 100%; /*toda largura da página*/
}

/*==========DESTAQUE==========*/

.titulo-centralizado{
    padding: 40px 0px 20px; /*margem de 40px no topo, 0px nos lados e 20px para baixo*/ 
	text-align: center; /*deixa o título centralizado*/
    text-transform: uppercase; /*deixa o título ASSIM*/
    letter-spacing: 5px; /*leve espaçamento entre as letras do título*/   
    font-weight: bold; /*negrito*/
    font-style: italic; /*itálico*/
    font-size: 30px /*tamanho da fonte*/
}


.titulo-centralizado.titulo_h2{
    margin: 50px 90px 20px 90px;
    font-style: none; /*retira o itálico*/
    font-size: 20px /*tamanho da fonte*/
}

.titulo-centralizado.titulo_gdd{
    padding:  120px 0px 20px; 
}

.titulo-conteudo-gdd{
    padding:  20px 0px 20px; 
    font-size: 18px;
}

.conteudo-gdd {
    margin: 10px 110px 15px; /*margem de 10px no topo, 90px nos lados e 15px para baixo*/
}

.conteudo-gdd p {
    margin: 10px 40px 10px; /*margem de 10px no topo, 40px nos lados e 15px para baixo*/
    text-align: justify; /*deixa o texto justificado*/
    font-size: 17px; /*tamanho da fonte*/
    line-height: 1.5; /*espaçamento entre as linhas*/
}

.conteudo-gdd ul {
    margin: 10px 75px 15px; /*margem de 30px no topo, 175px nos lados e 15 px para baixo*/
    text-align: justify; /*deixa o texto justificado*/
    font-size: 17px; /*tamanho da fonte*/
    line-height: 1.5; /*espaçamento entre as linhas*/
}

.img_animacao{
    width: 125px; /*toda largura da página*/
}


.container{
    display: flex; /*Exibe os elementos como um contêiner flexível, para que todos fiquem um ao lado do outro*/
    justify-content: space-around; /*Alinhar os itens flexíveis no centro do contêiner*/
    align-items: center; /*align-items: Alinha os itens na vertical*/ 
}

.div_imagem{
    margin-left: 100px;
}


.conteudo-gdd .div_conteudo{
    margin: 0px 0px 0px;;
}

p{
    margin: 25px 200px;
}